#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start

param load
param set SYS_AUTOSTART 5001
param set MAV_BROADCAST 1
param set MAV_TYPE 2
param set SYS_MC_EST_GROUP 2
param set CBRK_SUPPLY_CHK 894281 
param set CBRK_USB_CHK 197848 
param set PWM_MIN 1000
param set PWM_MAX 2000
param set PWM_DISARMED 900
param set COM_RC_IN_MODE 0


df_bmp180_wrapper start
df_lsm6ds33_wrapper start
df_lis3mdl_wrapper start
# df_mag3110_wrapper start
# df_mpu9250_wrapper start_without_mag


dataman start
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start

mavlink start -x -u 14556 -r 1000000 
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50

linux_sbus start -d /dev/ttyPS1 -c 6
# linux_sbus start -d /dev/ttyS2 -c 6

# ocpoc pwm vhld module is in use for generating pwm signals (Szilveszter)
linux_pwm_out start -p ocpoc_mmap -m ROMFS/px4fmu_common/mixers/quad_+.main.mix -n 4

mavlink boot_complete

