#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# navio config for a quad
uorb start

param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 2

df_bmp180_wrapper start
df_lsm6ds33_wrapper start
df_lis3mdl_wrapper start



dataman start
sensors start
commander start
navigator start
ekf2 start
mavlink start -x -u 14556 -r 1000000 
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50

mavlink boot_complete

